/* Estilos básicos del menú */
nav {
    position: fixed; /* Asegura que el nav esté siempre en la misma posición */
    top: 0; /* Ajusta la posición en el eje Y */
    left: 0; /* Ajusta la posición en el eje X */
    right: 0; /* Estira el nav para que ocupe toda la pantalla */
    background-color: yellow; /* Fondo amarillo */
    text-align: center; /* Alinea el texto al centro */
    padding: 10px; /* Espaciado interno arriba y abajo */
    z-index: 1000; /* Posiciona el nav por encima de los demás elementos */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* Estilos cuando el mouse está sobre los enlaces */
nav a:hover {
    color: white;
    font-size: 1.2em;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
    margin: 4rem;
    background-color: #E8E8E8;
}

#card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Crea 4 columnas iguales */
    gap: 10px; /* Espacio entre las cartas */
    justify-content: center;
    align-content: flex-start; /* Alinea las cartas arriba */
}

.card {
    width: 10rem;
    height: auto;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card h2 {
    margin: 10px 0;
}

.card img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.card .types {
    display: flex;
    justify-content: center;
}

/* Colores de fondo para tipos de Pokémon */
.card.normal { background-color: #b8aaaa; }
.card.fire { background-color: #FF5733; }
.card.water { background-color: #4E90D5; }

.card.grass{ background-color: #3BB805;}

.card.bug{ background-color: #7df64a;}
.card.poison{ background-color: #aa03d4;}